@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

<ol class="round">
    <li>
        <h5>OpenStack.NET SDK Sample Application</h5> (SDK version 1.x, Application version 1.0)<br />
        This application uses the sample code found at <a href="http://developer.rackspace.com" target="_blank">developer.rackspace.com</a> to demonstrate the capabilities of the OpenStack.NET SDK and the Rackspace Cloud.
    </li>
</ol>
<ol class="round">
    <li class="one">
        @Html.ActionLink("Identity","Index","Identity")<br />
    </li>
    <li class="two">
        @Html.ActionLink("Compute","Index","Compute")<br />
    </li>
    <li class="three">
        @Html.ActionLink("Object Store","Index","ObjectStore")<br />
    </li>
    <li class="four">
        @Html.ActionLink("Load Balancer","Index","LoadBalancer")<br />
    </li>
    <li class="five">
        @Html.ActionLink("Database","Index","Database")<br />
    </li>
    <li class="six">
        @Html.ActionLink("DNS","Index","DNS")<br />
    </li>
    <li class="seven">
        @Html.ActionLink("Block Storage","Index","BlockStorage")<br />
    </li>
    <li class="eight">
        @Html.ActionLink("Auto Scale","Index","AutoScale")<br />
    </li>
    <li class="nine">
        @Html.ActionLink("Monitoring","Index","Monitoring")<br />
    </li>
</ol>